
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{> headScripts }}
  </head>
  <body>
    <main id="about">
      {{> header title=title}}

      <section>
        <h2>Personal Bio</h2>
        <img src="images/about.jpg" alt="Arsenii">
        <p>
          <strong>Art</strong> is like coming up for a breath of fresh air after a long day of an ordinary life.
        </p>
        <p>
          It's a relief and a gateway from the everyday. Being able to lose yourself in a canvas without leaving the room is truly an amazing feeling.
        </p>
        <p>
          <strong>Arsenii</strong> is a Bay Area based artist focusing on <strong>abstract</strong> and <strong>graffiti</strong> art. His work is meant to give you a break from the ordinary and enjoy something extraordinary.
        </p>
      </section>

      {{> footer }}
    </main>
    {{> lightbox }}
  </body>
</html>
