.painting {
  border-radius: 4px;
  color: var(--light-grey);
  font-family: Roboto, sans-serif;
  font-size: 15px;
  margin-bottom: 24px;
  text-align: center;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.painting:hover {
  transform: translateY(-3px);
}

.painting:hover .title {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, .1);
}

.painting figure {
  margin: 0
}

.painting .title {
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .05);
  color: var(--light-grey);
  margin-top: -3px;
  padding: 15px 15px 18px;
  text-align: left;
  transition: box-shadow 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.painting img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-width: 100%;
  overflow: hidden;
}