@import 'normalize.css';
@import './painting.css';

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
}

main header {
  text-align: center;
  padding: 4em 0;
  letter-spacing: 1.5px;
}

main header h1 {
  font-size: 18px;
}

main footer {
  padding: 10em 0;
  text-align: center;
  color: #818892;
  font-size: 12px
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}