@import 'normalize.css';
@import './painting.css';

:root {
  --mist: #f5f6f7;
  --light-gray: #818892;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--mist);
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
}

a {
  color: var(--light-gray);
  text-decoration: none;
}

main header {
  text-align: center;
  padding: 4em 0;
  letter-spacing: 1.5px;
}

main header h1 {
  font-size: 22px;
}

main footer {
  padding: 10em 0;
  text-align: center;
  color: var(--light-gray);
  font-size: 12px
}

#gallery {
  padding: 0 24px;
  display: flow-root;
}

#gallery .grid-col {
  width: calc(25% - 28px);
  float: left;
  margin: auto;
  padding: 14px;
}

@media only screen and (max-width: 1024px) {
  #gallery .grid-col {
    width: calc(33% - 28px)
  }
}

@media only screen and (max-width: 768px) {
  #gallery .grid-col {
    width: calc(50% - 28px)
  }
}

@media only screen and (max-width: 500px) {
  #gallery .grid-col {
    width: 75vw;
    float: none
  }
}